/* https://colorhunt.co/palette/f5f5f5b9e93757d131406661/ */

.App {
  height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.PopupBackground {
  position: absolute;
  z-index: 10;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00000036;
}

.Popup {
  background-color: white;
  border-radius: 15px;

}

.PopupHeader {
  border-radius: 15px 15px 0 0;
  background-color: #B9E937;
  padding: 5px;
  color: #406661;
}

.PopupBody {
  padding: 20px;
}

.button {
  background-color: #406661;
  color: #FFF;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  /* width: min-content; */
  margin: 2px;
}

input[type=text] {
  border: 0px;
  font-size: 16px;
  border-bottom: 2px solid #406661;
  margin-bottom: 1px;
  color: #406661;
}

input[type=text]:focus {
  border-bottom: 3px solid #406661;
  margin-bottom: 0px;
  outline: none
}

.header {
  background-color: #B9E937;
  height: 50px;
  display: grid;
  grid-template-columns: min-content auto min-content;

}

.headerTitle {
  font-size: 20px;
  padding: 10px;
  width: 160px;
}

.headerName {
  font-size: 20px;
  margin: 10px 10px 8px 0;
  border-bottom: 2px solid transparent;
  height:22px;
  cursor: pointer;
}

.headerName:hover {
  border-bottom: 2px solid #406661;
}

.homePage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: calc(100vh - 50px);
  background-color: #F5F5F5;
}

.playerList {
  background: #F5F5F5;
  width: 270px;
  padding: 5px; 
  margin: 30px 30px 0 30px;
  border-radius: 10px;
}

.playerListTitle {
  margin: 0;
  font-size: 25px
}

.playerListPlayer {
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.playerListPlayer:last-child div {
  border-bottom: 2px solid #406661;
}


.playerListTable {
  padding: 0;
}

.playerListName {
  padding: 5px;
  border-top: 2px solid #406661;
  border-left: 2px solid #406661;
  border-right: 0px solid #406661;
  width: 180px;
}

.playerListNameOffline {
  padding: 5px;
  color: #686868;
  border-top: 2px solid #406661;
  border-left: 2px solid #406661;
  border-right: 0px solid #406661;
  width: 180px;
}

.playerListStatus {
  padding: 5px;
  width: 80px;
  text-align: center;
  border-top: 2px solid #406661;
  border-left: 2px solid #406661;
  border-right: 2px solid #406661;
}

.playerListReady {
  background-color: #57D131;
  border-left: 2px solid #57D131;
  border-right: 2px solid #57D131;
  color: white
}

.playerListNotReady {
  background-color: #406661;
  color: white
}


.gamePage {
  display:grid;
  grid-template-columns: 310px auto;
  height: calc(100% - 80px);
}

.rightPanel {
  background-color: #F5F5F5;
  border-radius: 10px;
  text-align: center;
  margin: 30px 30px 0 30px;
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.lobbyHostControls {
  border: 1px solid #57D131;
  border-radius: 10px;
  padding: 5px;
  width: 300px;
}

.timeDisplay {
  font-size: 40px;
  font-weight: bold;
  background-color: #57D131;
  padding: 10px;
  color: #F5F5F5;
  border-radius: 10px;
}

.placeImage {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  cursor: pointer;
}

.placesList {
  display: grid;
  grid-template-columns: 120px 120px 120px 120px 120px 120px;
}